$(function() {
  console.log('LOADED reco ajax js file');

  var createImage = function(url, className) {
    return $("<img src='" + url + "' class='" + className + "'>");
  };

  var createLink = function(button, foodObject, linkExtension, className) {
    var link = "/users/" + sessionID + "/playlist_foods/" + foodObject.id;
    var buttonQuery = '';

    if (linkExtension) {
      link += "/" + linkExtension;
    }

    return $("<a href='" + link + "' class='" + className + "'" + buttonQuery + "></a>").append(button);
  };

  var appendLi = function(foodObject) {
    console.log('appending food reco');

    var li = $("<li class='food'" + "id='" + foodObject.id + "'></li>");

    // name link
    li.append( createLink(foodObject.name, foodObject, false, 'food_specific') );
    // image link
    var img = createImage(foodObject.image_url, 'food_image');
    li.append( createLink(img, foodObject, false, '') );

    // thumbs up link
    var img = createImage('http://images.wikia.com/candy-crush-saga/images/7/7e/Thumbs-up-icon.png', 'thumbs_up');
    li.append( createLink(img, foodObject, '/like', 'like') );

    // thumbs down link
    var img = createImage('http://upload.wikimedia.org/wikipedia/en/2/2f/Thumbs-down-icon.png', 'thumbs_down');
    li.append( createLink(img, foodObject, '/dislike', 'dislike') );

    $('#recommendations_list').prepend(li);

    addVoteEvent($('a.like'));
    addVoteEvent($('a.dislike'));
  };

  // attach even listener to #generate button
  // ajax for reco
    // progress bar while loading food
  // upon success, persist to DB & immediate prepend to list
  $('a#generate').on('click', function(e) {
    console.log('click GENERATE');
    e.preventDefault();

    $.ajax({
      url: '/recommendations/generate',
      type: 'GET',
      dataType: 'json',
      data: {id: sessionID},
      beforeSend: function() {
        console.log('progress spinner start');
        $('#circle').show();
        animateDrawCircle(0);
      },
      success: function(foodObject) {
        console.log('reco gen SUCCESS');
        response = arguments;

        $('#circle').hide();

        appendLi(foodObject);
      },
      error: function() {
        console.log('reco gen ERROR');
        response = arguments;
      }
    });
  });

  var addVoteEvent = function(button) {
    button.on('click', function(e) {
      e.preventDefault();
      console.log('food ' + button.attr('class').toUpperCase() + 'D');

      // send AJAX to server PUT request
      $.ajax({
        url: '/users/' + sessionID + '/playlist_foods/' + $(this).parent()[0].id + '/' + button.attr('class'),
        type: 'POST',
        dataType: 'json',
        data: { _method: 'PUT' },
        // upon completion, remove parent from DOM
        complete: function() {
          $(this).parent().remove();
        },
        context: this
      });
    });
  };

  addVoteEvent($('a.like'));
  addVoteEvent($('a.dislike'));

  $('#circle').hide();

  /***** CANVAS API ****/
  var canvas = $('#circle')[0];
  var ctx = canvas.getContext("2d");

  $(canvas).css({width: "400", height: "200"}); // squish it to make the pixels work!

  function drawArc(startDegrees, endDegrees) {
    startAngle = (Math.PI/180) * startDegrees;
    endAngle = (Math.PI/180) * endDegrees;

    ctx.beginPath();
    ctx.lineWidth = 10;
    ctx.strokeStyle = "lightblue";
    ctx.arc( canvas.width/2, canvas.height/2, 35, startAngle, endAngle, false );
    ctx.stroke();
    ctx.closePath();
  }

  function drawText(i){
    ctx.beginPath();
    ctx.clearRect(canvas.width/2 - 20.2, canvas.height/2 - 20, 40, 40);
    ctx.fillStyle = "blue";
    ctx.font = "13px Times New";

    if (i === 360) {
      ctx.fillText('Done', canvas.width/2 - 15, canvas.height/2 + 3);
    } else if (i === 5 || i % 20 === 0) {
      ctx.fillText('loading', canvas.width/2 - 21, canvas.height/2 + 3);
    }

    ctx.closePath();
  }

  function animateDrawCircle(i){
    setTimeout(function() { // each invocation of this function pauses for 30 ms and then calls itself again
      drawArc(i, i + 1); // draw the next degree of the circle

      if (++i < 360) {
        animateDrawCircle(i);
      };

      if (i === 5 || i % 10 === 0) {
        drawText(i);
      }
    }, 35);
  };
})