/* #Variables ***************************************************/
$primary-color: #D60009;
$shadow-color: #BABAC4;

/* #Mixins ********************************************************/
@mixin primary-hover {
  &:hover {
    color: #01FDFD;
    background-color: #F31749;
  }
}
@mixin primary-active {
  &:active {
    border-style: inset;
  }
}
@mixin primary-box-shadow {
  -moz-box-shadow: 1px 1px 3px 2px $shadow-color;
  -webkit-box-shadow: 1px 1px 5px 3px $shadow-color;
  box-shadow: 1px 1px 3px 3px $shadow-color;
}
@mixin border-radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@mixin rate-button($color) {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-block;
  border: 1.5px solid $color;
  border-style: outset;

  &:hover {
    background-color: lighten($color, 50%);
  }
  @include primary-active;
}

/******************************************************************/

.error {
  background-color: red;
  color: black;
  width: 40%;
  float: left;
}

body {
  background-color: rgb(95%,95%,95%);
}

span {
  font-family: Times, sans-serif;
  color: white;
}

p#logo {
  font-family: Zapf Chancery, cursive;
  font-size: 2em;
  position: fixed;
  top: -24px;
  left: 44%;
  opacity: 1;
  color: #01FDFD;
}

.nav {
  margin-bottom: 4em;
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 9%;
  border-radius: 0px 0px 10px 10px;
  @include primary-box-shadow;
  opacity: .8;
  z-index: 2;
}
nav ul li {
  display: inline-block;
}

.nav_button {
  text-decoration: none;
  color: #000000;
  border: 2px solid rgb(85%,85%,85%);
  @include border-radius;
  padding: 5px;

  @include primary-hover;
  @include primary-active;
}

h1#reco_title {
  font-family: Gill Sans, sans-serif;
  font-size: 2.7em;
  color: $primary-color;
  border-top: 2px solid $shadow-color;
  border-radius: 2em;
  padding-top: 1.5em;
  padding-bottom: 0px;
  margin-top: 170px;
}

.nav_left {
  float: left;
}

.nav_right {
  float: right;
  margin-right: 1em;
}

.logout {
  /*fix later for screen size*/
  /*margin-left: 1600%;*/
  border: 2px solid rgb(85%,85%,85%);
  @include border-radius;
  padding: 5px;

  @include primary-hover;
  @include primary-active;
}

#content {
  background-color: #FFFFFF;
  text-align: center;
  margin-top: 3.5em;
  margin-left: 20%;
  margin-bottom: -30px;
  min-height: 1000px;
  width: 60%;
  border-left: 2px solid $shadow-color;
  border-right: 2px solid $shadow-color;
  position: relative;
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

.edit {
  text-decoration: none;
  color: #000000;
  border: 2px solid rgb(90%,90%,90%);
  @include border-radius;
  padding: 5px;
  background-color: $primary-color;
  text-align: left;
  position: relative;
  top: 20px;

  @include primary-hover;
  @include primary-active;
}

/*adjust size of button*/
a#generate {
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-size: 3em;
  font-variant: small-caps;
  background: $primary-color;
  width: 70%;
  text-decoration: none;
  color: #FFFFFF;
  border: 4px solid rgb(90%,90%,90%);
  border-radius: 1em;
  padding: .5em;
  position: relative;
  top: 90px;

  &:hover {
    color: #01FDFD;
    border: 4px solid #FFFFFF;
  }
  @include primary-active;
}

.food {
  margin-bottom: 2em;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 56%, rgba(255,255,255,1) 96%, rgba(246,246,246,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(56%,rgba(241,241,241,1)), color-stop(96%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 56%,rgba(255,255,255,1) 96%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 56%,rgba(255,255,255,1) 96%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 56%,rgba(255,255,255,1) 96%,rgba(246,246,246,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 56%,rgba(255,255,255,1) 96%,rgba(246,246,246,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

  @include primary-box-shadow;
  
  width: 40%;
  margin-left: 27%;

  margin-right: 2em;
  border-radius: .5em;

  margin-top: 3em;
}
a.food_specific {
  font-family: Zapf Chancery, cursive;
  font-size: 1.5em;
  text-decoration: none;
  color: #09C;
}

.food_image {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: 32.3%;

  @include primary-box-shadow;
  width: 100px;
  height: 60px;

  &:hover {
  /*-moz-box-shadow: 1px 1px 3px 2px $shadow-color;
  -webkit-box-shadow: 1px 1px 5px 3px $shadow-color;*/
  box-shadow: 1px 1px 5px 5px $shadow-color;

  }
  @include primary-active;
}

.thumbs_up {
  @include rate-button(#11772D);
}
.thumbs_down {
  @include rate-button(#92040E);
}

.ingredient {
  font-family: Palatino, serif;
  top: 30px;
}

form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin:auto;
  width:550px;
  height:300px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  
  @include primary-box-shadow;

  display: block;

  label {
    float: left;
    clear: both;
  }
  input {
    border-radius: 2px;
    float: right;  
    width: 50%;
    margin-bottom: 5%;
  }
  .button {
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    clear: both;
    width: 20%;
    height: 12%;
    font-size: 1.5em;
    background-color: lighten($primary-color, 15%);
    color: #01FDFD;
    border-radius: 5px;
  }
}

footer {
  background-color: $primary-color;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  margin-top: 0px;
  width: 101.5%;
  margin-left: -10px;
  min-height: 50px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -200px;
  position: relative;
  clear: both;
  margin-bottom: -23px;

  #ga {
    height: .75em;
    width: .75em;
  }
}